.boton {
    background-color: purple;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(97, 97, 97, 0.589);
    transition: transform 0.2s ease;
}

.boton:hover {
    background-color: rgb(94, 15, 94);
    transform: scale(1.1);
}