.info-paciente {
    display: flex;
    flex-direction: column;
    gap: rem;
}

.info-paciente h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.info-paciente .form-section {
    margin-bottom: 20px;
    padding: 1rem;
    width: 100%;
    margin: 0.5rem 1rem 0 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.329);
}

.info-paciente .form-column-info-paciente {
    display: flex;
    justify-content: space-between;
}



.info-paciente .form-data {
    display: flex;
    gap: 2rem
}




.info-paciente h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.info-paciente .form-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 12px;
    padding: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.info-paciente label {
    font-weight: bold;
    color: #555;
}

.info-paciente span {
    color: #333;
    word-wrap: break-word;
}