.registro-atencion-medica {}

.reatmed-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.registro-atencion-medica label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 0.5rem;

}



.registro-atencion-medica input,
.registro-atencion-medica textarea {
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem;
    border-radius: 5px;
    width: 100%;
    min-width: 390px;
    max-width: 390px;
    border: 1px solid #ccc;
}

.registro-atencion-medica input:focus,
.registro-atencion-medica textarea:focus {
    outline: none;
    border: 1px solid #4c81f5;
}

.form-button.reatmed {

    max-width: 150px;
}

.form-button.reatmed.secondary {

    background-color: gray;
}

.form-button.reatmed.secondary:hover {

    background-color: rgb(75, 74, 74);
}

.container-button {
    display: flex;
    justify-content: end;
    border-top: 1px solid #c0c0c0;
    padding-top: 1rem;
    gap: 1rem;
}